@model WareHouseMVC.Models.UserforEdit
@{
    ViewBag.Title = "Edit User";

}
<div class="pagetitle">
    <h1>
        Edit User
    </h1>
    <span>Use the form below to create a new user....</span>
</div>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@if (ViewBag.successMessage != null)
{
    <div class="alert alert-info" id="msg" runat="server">
        <button type="button" class="close" data-dismiss="alert">
            ×
        </button>
        @ViewBag.successMessage
    </div>
}
<div class="widgetcontent">
    @using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { @class = "stdform" }))
    {

        <table class="table table-bordered table-invoice">
            <tbody>
                <tr>
                    <td class="width30">
                       User Name
                    </td>
                    <td class="width70">
                        @Html.TextBoxFor(m => m.Username)
                        @Html.ValidationMessageFor(m => m.Username)
                    </td>
                </tr>
                <tr>
                    <td class="width30">
                        @Html.LabelFor(m => m.Email)
                    </td>
                    <td class="width70">
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </td>
                </tr>
               
                <tr>
                    <td class="width30">
                       Roles
                    </td>
                    <td class="width70">
                        <table>
                            @foreach (var role in ViewBag.RoleList)
                            {

                                <tr>
                                    <td>
                                        @Html.Raw("<input  class='cbox' type='checkbox' name='Roles' value='" + role.RoleName + "' id='" + role.RoleName + "' ></input>")
                                        @role.RoleName

                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="width30"></td>
                    <td class="width70">
                        <input type="submit" value="Udate User" class="btn btn-primary" />
                    </td>
                </tr>
            </tbody>
        </table>


    }
    <div>
        @Html.ActionLink("Back to User List", "UserList", "", new { @class = "btn" })
    </div>
</div>
