@model PagedList.IPagedList<WareHouseMVC.Models.AssignBox>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ShowBoxes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>
        Box List</h1>
    <span>List of Boxes....</span>
</div>
@{ 

    if (ViewBag.EmptyStatus == 1)
    {
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">
            ×</button>
        <strong>Warning !</strong> There are no enough space for these Boxes
    </div>
    
   
    
    @Html.ActionLink("Put Boxes on Pallet", "BoxPallet", "BoxLocations", new { trID = ViewBag.trID }, new { @Class = "btn btn-danger btn-rounded" })
    }


    if (ViewBag.EmptyStatus == 2)
    {
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">
            ×</button>
        <strong>Warning !</strong> There are no Pallet Allocated for this Warehouse
    </div>
    }
    
}
<div class="contentinner">
    <div class="row-fluid">
        <div class="span6">
            <table class="table table-bordered table-invoice">
                <tbody>
                    <tr>
                        <td class="width30">
                            Transmittal No :
                        </td>
                        <td class="width70">
                            <strong>@ViewBag.TransmittalNo</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="width30">
                            Client :
                        </td>
                        <td class="width70">
                            <strong>@ViewBag.ClientName</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Department :
                        </td>
                        <td>@ViewBag.Department
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span6">
            <table class="table table-bordered table-invoice">
                <tbody>
                    <tr>
                        <td class="width30">
                            WareHouse :
                        </td>
                        <td class="width70">
                            <strong>@ViewBag.WareHouse</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            No. of Empty Space :
                        </td>
                        <td>@ViewBag.EmptySpace
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Transmittal Date :
                        </td>
                        <td>@ViewBag.TransmittalDate
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix">
        <br>
    </div>
    @if (ViewBag.File == "1")
    {
        <div class="dataTables_wrapper" role="grid">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Transmittal No
                        </th>
                        <th>
                            Box No
                        </th>
                        <th>
                            Box Name
                        </th>
                        <th>
                            File No
                        </th>
                        <th>
                            Referrence No
                        </th>
                        <th>
                            Ring No
                        </th>
                        <th>
                            Account No
                        </th>
                        <th>
                            Year
                        </th>
                        <th>
                            Assign Date
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @* @Html.ActionLink(" ", "Receive", new { id = item.AssignBoxId }, new { @class = "icon-folder-close", @Title = "Receive Box" }) |*@
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.TransmittalIN.TransmittalNo).ToString()
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.Item.BoxNo).ToString()
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.BoxNameFile).ToString()
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.FileNumber).ToString()
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.ReferrenceNo).ToString()
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.RingNo).ToString()
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.AccountNo).ToString()
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.Year).ToString()
                            </td>
                            <td>
                                @String.Format("{0:g}", item.AssignDate.ToShortDateString())
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.TransmittalINStatus.StatusName).ToString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    @if (ViewBag.File == "0")
    {
    

        <div class="dataTables_wrapper" role="grid">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Transmittal No
                        </th>
                        <th>
                            Box Name
                        </th>
                        <th>
                            Box No
                        </th>
                        <th>
                            Year
                        </th>
                        <th>
                            Assign Date
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @* @Html.ActionLink(" ", "Receive", new { id = item.AssignBoxId }, new { @class = "icon-folder-close", @Title = "Receive Box" }) |*@
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.TransmittalIN.TransmittalNo).ToString()
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.BoxName).ToString()
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.Item.BoxNo).ToString()
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.Year).ToString()
                            </td>
                            <td>
                                @String.Format("{0:g}", item.AssignDate.ToShortDateString())
                            </td>
                            <td>
                                @Html.DisplayTextFor(_ => item.TransmittalINStatus.StatusName).ToString()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <div style="float: right">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("ShowBoxes",
                        new { page, trID = ViewBag.trID }))
    </div>
    <div>
        <table>
            <tr>
                <td class="width30">
                    @Html.ActionLink("Back ", "Index", "AssignBoxes", "", new { @Class = "btn btn-info btn-rounded" })
                </td>
                <td class="width70">
                    @{
                        if (ViewBag.Show == 2)
                        {
                        @Html.ActionLink("Receive All", "ReceiveAll", "AssignBoxes", new { trID = ViewBag.trID }, new { @Class = "btn btn-primary btn-rounded" })
                        }
   
                    }
                </td>
                <td>
                    @{
                        if (ViewBag.Show == 3)
                        {

                        @Html.ActionLink("Set barcode for All", "SetBarcodeAll", "AssignBoxes", new { trID = ViewBag.trID }, new { @Class = "btn btn-info btn-rounded" })

                        }
                    }
                </td>
                <td>
                    @{
                        if (ViewBag.Show == 4 || ViewBag.Show == 5 || ViewBag.Show == 6)
                        {
                        @Html.ActionLink("Barcode Mapping", "BarcodeMappingMethod", "AssignBoxes", new { trID = ViewBag.trID , page=Model.PageNumber}, new { @Class = "btn btn-warning btn-rounded", @Target = "_blank" })
                        }}
                </td>
                <td>
                    @{
                        if (ViewBag.Show == 4 || ViewBag.Show == 5 || ViewBag.Show == 6)
                        {
                        @Html.ActionLink("Print Barcode", "PrintBarCode", "Reports", new { trID = ViewBag.trID, page=Model.PageNumber }, new { @Class = "btn btn-info btn-rounded", @Target = "_blank" })
                        

                        }
                    }
                </td>
                <td>
                    @{
    
                       

                        if (ViewBag.Show == 5)
                        {
                        @Html.ActionLink("Assign Location", "LocationAssign", "BoxLocations", new { trID = ViewBag.trID }, new { @Class = "btn btn-success btn-rounded" })
                        }
    
   
    
                    }
                </td>
            </tr>
        </table>
        @{

            if (ViewBag.Show == 4)
            {
                // @Html.ActionLink("Barcode Verify", "VerifyBarcode", "AssignBoxes", new { trID = ViewBag.trID }, new { @Class = "btn btn-success btn-rounded" })

                using (Html.BeginForm("VerifyBarcode", "AssignBoxes", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
            @Html.ValidationSummary(true)
            <input type="hidden" name="TrID" id="TrID" value="@ViewBag.trID" />
                        
            <table class="table table-bordered table-invoice">
                <tbody>
                    <tr>
                        <td class="width30">
                            <label>
                                File Upload</label>
                        </td>
                        <td class="width70">
                            <div data-provides="fileupload" class="fileupload fileupload-exists">
                                <input type="hidden" value="" name="filename">
                                <div class="input-append">
                                    <div class="uneditable-input span3">
                                        <i class="icon-file fileupload-exists"></i><span class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn btn-file"><span class="fileupload-new">Select file</span> <span
                                        class="fileupload-exists">Choose file</span>
                                        <input type="file" name="filename"></span> <a data-dismiss="fileupload" class="btn fileupload-exists"
                                            href="#">Remove</a>
                                </div>
                            </div>
                            <span style="margin-left: 75px;"><a href="@Url.Content("~/Content/StandardXLFiles/BarcodeVerify.xlsx")" >
                                Download Standard CSV Format</a></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="width30">
                        </td>
                        <td class="width70">
                            <input type="submit" value="Verify Barcode" class="btn btn-success btn-rounded" />
                        </td>
                    </tr>
                </tbody>
            </table>
                        
                }
            }
        }
        </p>
    </div>
</div>
