@model WareHouseMVC.Models.Level

@{
    ViewBag.Title = "Level Details";
}

<div class="pagetitle">
    <h1>
      Level Details </h1>
    <span>Level Details below....</span>
</div>

<fieldset>
  <table class="table table-bordered table-invoice">
    <tbody>

  <tr>
        <td class="width30">LevelName</td>
        <td>
       @Model.LevelName
        </td>
        </tr> 

  <tr>
        <td class="width30">LevelCode</td>
        <td>
       @Model.LevelCode
        </td>
        </tr> 

  <tr>
        <td class="width30">Rack</td>
        <td>
       @Html.DisplayTextFor(_ => Model.Rack.RackName).ToString()
        </td>
        </tr> 

  <tr>
        <td class="width30">Train</td>
        <td>
       @Html.DisplayTextFor(_ => Model.Train.TrainName).ToString()
        </td>
        </tr> 

  <tr>
        <td class="width30">Zone</td>
        <td>
       @Html.DisplayTextFor(_ => Model.Zone.ZoneName).ToString()
        </td>
        </tr> 

  <tr>
        <td class="width30">Floor</td>
        <td>
       @Html.DisplayTextFor(_ => Model.Floor.FloorName).ToString()
        </td>
        </tr> 

  <tr>
        <td class="width30">Warehouse</td>
        <td>
       @Html.DisplayTextFor(_ => Model.Warehouse.WarehouseName).ToString()
        </td>
        </tr> 
    </tbody>
  </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LevelID }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Back to List", "Index", "", new { @class = "btn" })
</p>


