@model WareHouseMVC.Models.Item

@{
    ViewBag.Title = "UpdateBoxInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle">
    <h1>
        Box  Update
    </h1>
</div>


@{ 

    if (ViewBag.ErrorMsg == false)
    {
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">
            ×</button>
        <strong>Warning !</strong> There is already a box existing in your system with same information.
    </div>
    }
    if (ViewBag.ErrorMsg == true)
    {
        <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">
            ×</button>
        <strong>Well done!</strong> Box Information Updated Successfully !
    </div>
    }
   
}


<div class="contentinner">


  <div class="row-fluid">
        <div class="span6">
            <table class="table table-bordered table-invoice">
                <tbody>
                    <tr>
                        <td class="width30">
                            Client :
                        </td>
                        <td class="width70">@ViewBag.Client
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Department:
                        </td>
                        <td>@ViewBag.Dept
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Project:
                        </td>
                        <td>
                            @ViewBag.Project
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="span6">
            <table class="table table-bordered table-invoice">
                <tbody>
                    <tr>
                        <td>
                            Box Name:
                        </td>
                        <td>
                            @Model.ItemName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Box No. :
                        </td>
                        <td>
                            @Model.BoxNo
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Year :
                        </td>
                        <td>
                            @Model.Year
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
     <div class="clearfix">
        <br />
    </div>



@using (Html.BeginForm("UpdateBoxInfo", "Items", FormMethod.Post, ""))
{
    @Html.ValidationSummary(true)

    <input type="hidden" id="ItemId" name="ItemId" value=@ViewBag.ItemId />
    <table class="table table-bordered table-invoice">
 <tbody>




 <tr>
<td class="width30">
   Extra Description Text
</td>
<td class="width70">
    @Html.TextAreaFor(model => model.Description, 3, 5, "")
    @Html.ValidationMessageFor(model => model.Description)
</td>
</tr>



<tr>
 <td  class="width30">
                
                </td>
                <td  class="width70">
                <input type="submit" value="Update" class="btn btn-primary" />
                </td>

		</tr>

</tbody>
</table>
    
    
}
</div>