@model IEnumerable<WareHouseMVC.Models.Country>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            CountryName
        </th>
        <th>
            Status
        </th>
        <th>
            IsRemoved
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CountryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CountryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CountryID })
        </td>
        <td>
			@item.CountryName
        </td>
        <td>
			@item.Status
        </td>
        <td>
			@item.IsRemoved
        </td>
    </tr>
}

</table>


